---
import PhotoCard from './PhotoCard.astro';

export interface Photo {
  id: string;
  src: string;
  srcWebP?: string;
  thumbnail: string;
  alt: string;
  camera: string;
  lens: string;
  settings: {
    aperture: string;
    shutter: string;
    iso: number;
    focalLength?: string;
  };
  filmSimulation?: string;
  date: string;
  tags: string[];
}

interface Props {
  photos: Photo[];
  columns?: number;
}

const { photos, columns = 3 } = Astro.props;
---

<div class={`grid grid-cols-1 md:grid-cols-2 lg:grid-cols-${columns} gap-6`}>
  {photos.map((photo) => (
    <PhotoCard photo={photo} />
  ))}
</div>